.git
.tools
**/vendor
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example
infra/backups
infra/data
**/*.sql
**/*.key
**/*.pem
**/auth.json
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/node_modules
**/storage/logs/*
**/storage/framework/views/*
**/bootstrap/cache/*.php
**/*.sqlite
**/*.sqlite-*
dist
build
apps/client/bin
apps/client/lib
